.crafter-item-list option {
  background: black; 
  color: black; 
  box-shadow: inset 20px 20px powderblue
}

.crafter-item-list option:hover {
  background: black;
  color: black; 
  box-shadow: inset 20px 20px teal;
}

.crafter-item-list option:checked {
  background: black;
  color: black !important;
  box-shadow: inset 20px 20px steelblue;
}

.crafter-item-list option:focus{
  background: red;
  color: red;
  box-shadow: inset 20px 20px red;
}

.crafter-item-list option:active {
  background: black;
  color :black; 
  box-shadow: inset 20px 20px teal; 
  

}

.crafter-crafter-button {
  background: transparent;
  padding: 0;
  color: white;
  line-height: normal;
  border: 0;
  align-self: right;
  width: 100%;
  height: 25px;
  

}

.crafter-recipe-button {
  background: transparent;
  padding: 0;
  color: white;
  line-height: normal;
  border: 0;
  align-self: left;
  width: 100%;
  height: 25px;

}

.crafter-crafting-menu {
  height: fit-content;
}

.crafter-crafting-item-name {
  color: black;
  padding: 10px;
  border-bottom: 5px;
  border-top: 5px;
  border-style: solid none solid none;
  border-radius: 10px;
  border-color: maroon;
  font-weight: bolder;
  font-family: serif;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 5px;


}

.crafter-item-image-list-frame {
  border-bottom: 5px solid maroon;
  border-top: 5px solid maroon;
  border-radius: 10px;
  border-color: maroon;
  border-collapse: separate !important;
  margin-top: 5px;
  margin-bottom: 5px;


}

.crafter-item-image-frame {

  padding: 10px;
  width: 120px;
  height: 120px;
  vertical-align: top;
}

.crafter-item-image {
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  padding: 0px;
  border-radius: 15px;
  


}

.crafter-item-list-frame {
  width: 100%;
  border-bottom: 5px;
  border-top: 5px;
  border-style: solid none solid none;
  border-radius: 10px;
  border-color: maroon;
  padding: 5px 15px !important;
  margin-top: 5px;
  margin-bottom: 5px;

}

.crafter-item-list {

  min-width: 550px;
  max-width: 550px;
  background-color: azure;
  color: black;
  font-weight: bold;
  display: flex;
  
}

.crafter-item-description-frame {
  padding: 10px;
  border-bottom: 5px;
  border-top: 5px;
  border-style: solid none solid none;
  border-radius: 10px;
  background-color: cornsilk;
  color: darkslategray;
  width: 100%;
  height: 240px;
  
}
.crafter-item-description-frame-frame {
  height: 200px;
  
  
}

.crafter-item-description {
  overflow-y: auto;
  height: 95%;
  padding-right: 10px;
  
}

.crafter-craftingmenu-parsed-heading {
  width: 75px;
  padding: 5px;
  color: maroon;


}

.crafter-craftingmenu-parsed-heading-label {
  width: 60px;
  padding: 8px;
  color: black;
  font-weight: bold;

}

.crafter-select-option {
  display: flex !important;
  padding: 2px 25px;

}

.crafter-select-option-selected {
  display: flex !important;
  padding: 3px 0px;
  font-weight: bold;
  color: black;
}


.crafter-item-smallcard-frame{  
  width: 180px;
  height: 70px;
  padding: 0px;
  border: 4px solid red;
  border-radius: 6px;
  border-collapse: separate !important;
  border-spacing: 0;
  background-color: lightgrey;
  
  
  
  
  }
  
  .crafter-item-smallcard-item{  
    min-width: 55px;
    min-height: 55px;
    max-width: 50px;
    max-height: 50px;
    padding: 0px;
    border: 4px groove red;
    border-radius: 10px;
  vertical-align: middle;
  
  
  
  
  }
  
  .crafter-item-smallcard-name{  
  width: auto;
  padding: 5px 10px;
  color: black;
  font-weight: bold;
  text-align: left;
  }

  .crafter-item-container-fontframe{
    position: relative;
    text-align: center;
    color: white;
    height: 55px;
    }

    /* Centered text */
    .crafter-item-container-font {
      position: relative;
      bottom: 32px;
      font-size: x-large;
      font-weight: lighter;
      --stroke-color: black;
      --stroke-width: 2px;
      color: white;
      text-shadow: var(--stroke-width) 0 0 var(--stroke-color),
        calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
        0 var(--stroke-width) 0 var(--stroke-color),
        0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
    }

    .crafter-bottom-bar{
      position:absolute;                 
                bottom:0;                         
                right:0;
    }

    .Test{
      border: 5px solid red;
    }